

<div class="row">
  <div class="col-md-3">
    <h2 routerLink="home">Go to Home</h2>
  </div>
  <div class="col-md-3">
    <h2 routerLink="role">Go to Role</h2>
  </div>
  <div class="col-md-3">
    <h2 routerLink="user">Go to User</h2>
  </div>
  <div class="col-md-3">
    <h2 [routerLink]="['user','7']">Go to  7 User Detail</h2>
  </div>
</div>
<router-outlet></router-outlet>

<button igxButton="flat">Flat</button>
<ngx-spinner type="ball-scale-multiple">

  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
